# Node.js
node_modules/

# Build directory
dist/

# Vite cache
.cache
cache/
# Temporary files
.DS_Store
Thumbs.db

# Dependency directories
/.yarn
.pnp.*

# Optional: IDE/Editor-specific files
.idea/
.vscode/

demo
*.log

.vitepress/cache

/docs/public/*.json