{
  "overrides": [
    {
      "files": [
        "*.vue",
        "*.ts",
        "*.mts",
        "*.js",
        "*.mjs"
      ],
      "options": {
        "singleQuote": true,
        "semi": true,
        "htmlWhitespaceSensitivity": "ignore",
        "tabWidth": 2,
        "vueIndentScriptAndStyle": true,
        "arrowParens": "avoid",
        "printWidth": 100
      }
    }
  ]
}